img {
  height: 50px;
  width: 75px;
  display: inline-block;
  margin: 0px, 50px;
  align-content: center;
  object-fit: cover;
}

.characterImageAndWords {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: gray;
  margin: 15px 15px 15px 0px;
}

.yourCharacterContainer {
  min-height: 125px;
  align-content: center;
  text-align: center;
}

.chosenCharacter {
  display: inline-block;
  background-color: green;
  border: blue solid 2px;
  color: aliceblue;
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}

h1 {
  color: yellow;
  text-align: center;
}

.enemy {
  background-color: red;
  border: orange solid 2px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  color: aliceblue;
  margin-bottom: 30px;
}

.currentDefender {
  background-color: orange;
  border: red solid 2px;
  display: inline-block;
  text-align: center;
  color: aliceblue;
}

body {
  background-image: url("images/starWarsBackground.jpg");
}

#opponentContainer {
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

h4 {
  color: white;
  align-content: left;
}

#instructionText {
  color: aliceblue;
  font-style: italic;
}

/* .characterOptions {
  text-align: left;
} */

#instructionText {
  color: aliceblue;
  text-align: center;
  margin-bottom: 20px;
}

.buttonHolder {
  text-align: center;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* align-content: center; */
}

.restartContainer {
  align-content: center;
  text-align: center;
}

.yourCharacterContainer img {
  height: 200px;
  width: 200px;
}

.defenderContainer img {
  height: 200px;
  width: 200px;
}
